.login-form{
    .ui.input input{
        border-color: $border-gray;

        &::placeholder{
            color: $font-gray;
        }
    }

    .actions{
        justify-content: space-between !important;

        .ui.basic.button{
            margin: 0;
            color: $font-gray !important;
        }

        .ui.basic.button[type="submit"]{
            margin-right: 10px !important;
        }
    }
}